<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevGuard Zone 소개</title>
    <link rel="stylesheet" href="/static/etc/background.css"> <!-- CSS 파일 링크 -->
</head>

<body>
    <!-- Header with Navbar -->
    <header>
        <div class="header-container">
            <div class="brand"><a href="/">DevGuard Zone</a></div>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/learn">Learn</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/mypage">My Page</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="reason-section">
            <h2>DevGuard Zone이 초보 개발자에게 집중하는 이유는?</h2>
            <p class="reason-title">초보 개발자들의 보안에 대한 인식 부족</p>
            <div class="first-content">
                <p>Linux Foundation의 오픈소스 보안 재단인 OpenSSF에서 진행한 설문조사에 따르면, 개발자의 보안 교육에 상당한 차이가 있는것으로 들어났습니다.</p>
                <p>이 조사 결과는 업계에서 보안에 대한 공식적인 교육이 널리 부족함을 드러냅니다.</p>
            </div>
            <div class="second-content">
                <div class="text-content">
                    <p>개발자의 28%가 시큐어 코딩(소프트웨어 개발 시 안전한 코드를 제작하는 것)에 익숙하지 않고, 53%가 보안과 관련된 교육을 받지 않을 것으로 나왔습니다.</p>
                    <p>경력이 1년 미만이 신입 개발자의 경우, 가장 높은 수준의 익숙함 부족을 부여주었습니다.</p>
                </div>
                <img src="/static/img/Survey.png" alt="SurveyResult" class="Result1">
            </div>
            <div class="third-content">
                <img src="/static/img/Survey2.png" alt="SurveyResult" class="Result2">
                <div class="text-content">
                    <p>추가적으로, 시큐어 코딩에 있어 가장 큰 과제를 조사한 결과, 시간 제약이 58%로 1위를 차지하였으며, 2위로 보안에 대한 인식 부족을 뽑았습니다.</p>
                </div>
            </div>

        </section>

        <section class="goal-section">
            <h2>DevGuard Zone의 목표</h2>
            <div class="goal-content">
                <p><strong>1</strong> 신입 개발자가 일반적인 보안 취약성을 이해하고 완화하는 데 필요한 지식과 자원을 제공하는 것</p>
                <p><strong>2</strong> 신입 개발자가 보안 문제를 라이브러리나 프레임워크에 지나치게 의존하여 보안 사고가 발생하는 것을 방지하는 것</p>
                <p><strong>3</strong> 신입 개발자가 경력 개발자로 성장해가는 과정에서 어려움을 덜 느끼도록 도움을 주는 것</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 DevGuard Zone. All rights reserved.</p>
    </footer>
</body>

</html>