<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문게시판 - DevGuard Zone</title>
    <link rel="stylesheet" href="/static/community/questionBoard.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="brand"><a href="/">DevGuard Zone</a></div>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/learn">Learn</a></li>
            </ul>
        </div>
    </header>
    <main class="main-content">
        <h1>질문글</h1>
        <table class="board-table">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>좋아요</th>
                    <th>댓글</th>
                    <th>해결 여부</th>
                </tr>
            </thead>
            <tbody>
                {% for question in question %}
                <tr>
                    <input type="hidden" name="post_id" value="{{question[0]}}">
                    <td><a href="/community/questionBoard/{{question[0]}}">{{question[1]}}</a></td>
                    <td>{{question[2]}}</td>
                    <td>{{question[3]}}</td>
                    <td>{{question[4]}}</td>
                    {% if question[5] == 1%}
                    <td>Y</td>
                    {% else %}
                    <td>N</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/community">커뮤니티로 돌아가기</a>
    </main>
    <a href="/community/questionBoard/createQuestion" class="write-button">글 쓰기</a>
    <footer>
        <p>&copy; 2024 DevGuard Zone. All rights reserved.</p>
    </footer>
</body>

</html>