/* 기본 스타일 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    background-color: #f8f9fa;
    /* 페이지 배경색 */
    display: flex;
    flex-direction: column;
    color: #333;
    /* 기본 텍스트 색상 */
    min-height: 100vh;
}

/* 헤더 스타일 */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #021a4a;
    /* 헤더 배경색 */
    color: #fff;
    /* 헤더 텍스트 색상 */
}

.header-container .brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline;
    margin-left: 20px;
}

.navbar a {
    color: #fff;
    /* 내비게이션 링크 색상 */
    text-decoration: none;
    font-size: 16px;
}

.main-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

article p {
    font-size: 0.9em;
    color: #666;
}

article div {
    font-size: 1em;
    margin: 20px 0;
}

article .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #666;
}

/* 댓글 입력 폼 스타일 */
.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    font-size: 1em;
    font-family: inherit;
}

.comment-form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #1d3557;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #457b9d;
}


#comments {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#comments h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.comment {
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.comment p {
    margin: 0;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-content {
    font-size: 1em;
    color: #333;
}

.comment-footer {
    font-size: 0.8em;
    color: #888;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 0.8em;
    color: #888;
}

footer {
    background-color: #2f3550;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: auto;
    width: 100%;
}

footer p {
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
}